/* general font/colors */
body {
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    background-color: RGB(242, 237, 215);
    color: darkolivegreen;
    background-color: lightgray;
}

/* name in upper left */
h1 {
    color: darkolivegreen;
    padding: 30px 20px 30px 20px;
    width: 20%;
    text-align: center;
    font-size: 22px;
    margin-bottom: 0;
    margin-left: -23px;
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

/* about me/profile/contact heading format */
h2 {
    border-bottom: solid;
    border-color: darkolivegreen;  
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}

/* header links */
a {
    padding: 20px;
    text-decoration: none;
}

/* hover over links format */
a:hover {
    color: darkolivegreen;
    text-decoration: none;
}

/* submit button design */
button {
    color: lightgray;
    background-color: darkolivegreen;
    padding: 5px 20px 5px 20px;  
    font-size: 14px;
}

/* footer format */
footer {
    background-color: lightgray;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top: solid;
    border-color: darkolivegreen;
    color: darkolivegreen;
    border-width: 5px;
    font-size: 12px; 
    width: 100%;
    /* toggle the "stickyness" footer on/off, comment out the three properties below */  
    /* margin-top: 420px;
    position: fixed;
    bottom: 0; */
}

/* image on profile page format */
img {
    float: left;
}

/* contact page input boxes for name and email */
input {
    width: 955px;
    height: 20px;
    margin-bottom: 10px;
}

/* contact page input box for the message area */
textarea {
    width: 955px;
    height: 200px;
    margin-bottom: 10px;
    max-width: 955px;
}

/* about me main box text spacing*/
p {
    line-height: 2;
    margin-bottom: 15px;
}

/* link emphasis in about me for "about" */
strong {
    font-weight: bolder;
}

/* about me photo */
.me {
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: solid;
    border-color: lightgray;
    float: left;
}

/* about me main box */
.about-me {
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    margin-bottom: 420px;
    border: solid;
    border-color: darkolivegreen;
    color: darkolivegreen;
    line-height: 1.5;
}

/* contact main box */
.contact {
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    margin-bottom: 420px;
    border: solid;
    border-color: darkolivegreen;
    color: darkolivegreen;
    line-height: 1.5;
}

/* portfolio main box */
.portfolio {
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 825px;
    height: 1300px;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    margin-bottom: 420px;
    border: solid;
    border-color: darkolivegreen;
    color: darkolivegreen;
    line-height: 1.5;
    position: relative;
}

/* top right links */
.links {
    background-color: lightgray;
    padding-right: 0;
    padding-bottom: 30px;
    width: 30%;
    text-align: center;
    font-size: 16px;
    float: right;
    color: darkolivegreen;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -42px;
}

/* name area in top left */
.header-container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 80px;
}

/* portfolio page text/image relationship image1*/
.image-1 {
    position: absolute;
}

/* portfolio page text/image relationship image2 */
.image-2 {
    position: absolute;
    top: 106px;
    left: 400px;
}

/* portfolio page text/image relationship image3 */
.image-3 {
    position: absolute;
    left: 20px;
    top: 360px;
}

/* portfolio page text/image relationship image4 */
.image-4 {
    position: absolute;
    top: 360px;
    left: 400px;
}

/* portfolio page text/image relationship image5 */
.image-5 {
    position: absolute;
    left: 20px;
    top: 614px;
}

/* portfolio page text/image relationship image6 */
.image-6 {
    position: absolute;
    top: 614px;
    left: 400px;
}

/* portfolio page text/image relationship image7 */
.image-7 {
    position: absolute;
    left: 20px;
    top: 868px;
}

/* portfolio page text/image relationship image8 */
.image-8 {
    position: absolute;
    left: 400px;
    top: 868px;
}

/* portfolio page text/image relationship image9 */
.image-9 {
    position: absolute;
    left: 20px;
    top: 1122px;
}

/* portfolio page text/image relationship image10 */
.image-10 {
    position: absolute;
    left: 400px;
    top: 1122px;
}

/* text "button" for first portfolio item */
.image-1-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for second portfolio item */
.image-2-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for third portfolio item */
.image-3-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for fourth portfolio item */
.image-4-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for fifth portfolio item */
.image-5-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for sixth portfolio item */
.image-6-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for seventh portfolio item */
.image-7-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for eigth portfolio item */
.image-8-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for ninth portfolio item */
.image-9-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for tenth portfolio item */
.image-10-text {
    background-color: darkolivegreen;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* "Name" home "button" */
.home {
    text-decoration: none;
    color: darkolivegreen;
    padding: 0;
}

/* "Name" home "button" hover feature */
.home:hover {
    color: darkolivegreen;
    text-decoration: none;
}

/* text "button" for first portfolio item hover */
.image-1-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* text "button" for second portfolio item hover */
.image-2-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* text "button" for third portfolio item hover */
.image-3-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* text "button" for fourth portfolio item hover */
.image-4-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* text "button" for fifth portfolio item hover */
.image-5-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* text "button" for sixth portfolio item hover */
.image-6-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* text "button" for seventh portfolio item hover */
.image-7-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* text "button" for eigth portfolio item hover */
.image-8-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* text "button" for ninth portfolio item hover */
.image-9-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* text "button" for tenth portfolio item hover */
.image-10-text:hover {
    color: lightgray;
    text-decoration: none;
}

/* general links active feature */
a:active {
    color: darkolivegreen;
    text-decoration: none;
}

/* general links visited feature */
a:visited {
    color: darkolivegreen;
    text-decoration: none;  
}

/* media call 980px */
@media screen and (max-width: 980px) {
    .about-me {   
        width: 700px;
    }

    .portfolio {
        width: 700px;
    }

    .contact {
        width: 700px;
    }

    .header-container {
        width: 700px;
    }

    h1 {
        width: 30%;
    }

    .links {
        width: 40%;
    }

    input {
        width: 695px;
    }

    textarea {
        max-width: 695px;
    }
}

/* media call 768px */
@media screen and (max-width: 768px) {
    .about-me {   
        width: 600px;
    }  

    .portfolio {
        width: 600px;
    }

    .contact {
        width: 600px;
    }

    .header-container {
        width: 600px;
    }

    h1 {
        width: 35%;
    }

    .links {
        width: 50%;
    }

    input {
        width: 595px;
    }

    textarea {
        max-width: 595px;
    }

    .image-2 {
        top: 82px;
        left: 325px;
    }

    .image-2-text {
        top: 164px;
    }

    .image-4 {
        top: 336px;
        left: 325px;
    }

    .image-4-text {
        top: 164px;
    }
}

/* media call 640px */
@media screen and (max-width: 640px) {
    header {
        position: static;
    }

    .about-me {
        width: 300px;
        padding-right: 25px;
    }    

    .portfolio {
        width: 300px;
        height: 1200px;
        position: relative;
    }

    .contact {
        width: 300px;
    }

    .header-container {
        width: 100%;
    }

    h1 {
        float: left;
        clear: both;
        width: 100%;
        margin-bottom: 15px;
    }

    .links {
        float: left;
        width: 100%;
        left: 0;
        padding-bottom: 10px;
        padding-top: 10px; 
    }

    input {
        width: 295px;
    }

    textarea {
        max-width: 295px;
    }

    .me {
        width: 100%;
    }

    .image-1 {
        position: absolute;
        top: 80px;
    }
    
    .image-2 {
        position: absolute;
        top: 300px;
        left: 20px;
    }
    
    .image-3 {
        position: absolute;
        left: 20px;
        top: 520px;
    }
    
    .image-4 {
        position: absolute;
        top: 740px;
        left: 20px;
    }
    
    .image-5 {
        position: absolute;
        left: 20px;
        top: 960px;
    }
    
    .image-1-text {
        top: 164px;
    }

    .image-3-text {
        top: 164px;
    }

    .image-5-text {
        top: 164px;
    }
}

#row1 {
    border-color: black;
}