html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.yo-globe {
  height: 100vh;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
    ". . . . . . . . m m m ."
    "c c c c c c c c c c c c"
    "h h h h h h s s s s s s";
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  color: white;
  background-color: black; 
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
}
/* The navigation links inside the overlay */
.overlay a {
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: white;
}
/* Position the close button (top right corner) */
.overlay {
  grid-area: m;
  display: inline-flex;
  font-size: 2rem;
  top: 0;
  right: 0;
}
.closebtn {
  padding-bottom: 10%;
}
.menu {
  grid-area: m;
  display: inline-flex;
  font-size: 3rem;
  top: 0;
  right: 0;
}
/* ----------------- */
/* MENU LETTERS */
.outer-menu {
  /* border: solid black; */
  grid-area: m;
  height: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-template-areas: "m e n u";
}
.outer-menu > div {
  /* border: solid black; */
  font-size: 2rem;
  text-align: center;
}
.letter-m {
  grid-area: m;
  width: 100%;
  height: 100%;
}
/* ~~~~~~~~~~~~~ */
/* menu */
/* ~~~~~~~~~~~~~ */
.letter-e {
  grid-area: e;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* ~~~~~~~~~~~~~~ */
/* CONTENT */
/* ~~~~~~~~~~~~~~ */
.content {
  /* border: solid black; */
  grid-area: c;
  position: relative;
}
.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-right: -50%; */
  transform: translate(-50%, -50%);
}
.quote img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border-radius: 50%;
}
/* ~~~~~~~~~~~~~~ */
/* CODING */
/* ~~~~~~~~~~~~~~ */
.coding {
  /* border: solid black; */
  grid-area: h;
}
.coding img {
  height: 40px;
  border-radius: 50%;
}
/* ----------------- */
/* ----------------- */
/* SOCIAL */
.social {
  /* border: solid black; */
  grid-area: s;
}
.social img {
  height: 40px;
  border-radius: 50%;
}
.hover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6fr;
  height: 40px;
  background-color: black;
  border-radius: 99px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
.hover:before,
.hover:after {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}
.hover:before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: white;
}
.hover:after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: white;
}
.hover:hover {
  background-color: black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.hover:hover span {
  opacity: 0;
  z-index: -3;
}
.hover:hover:before {
  opacity: 0.5;
  transform: translateY(-100%);
}
.hover:hover:after {
  opacity: 0.5;
  transform: translateY(100%);
}
.hover span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
  font-family: "Fira Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}
.hover .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: black;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}
.hover .social-link:hover i {
  animation: bounce 0.4s linear;
}
@keyframes bounce {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}